.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
/inputs
/inprogress
/OSM/sensor_data
OSM/bayarea_trees_osm.gpkg
OSM/bayarea_roads_osm.gpkg
OSM/bayarea_buildings_osm.gpkg
/OSM
/OSM
/CaliforniaFirePerimeters
/Model
Preprocessing/pasensors_weatherstations3dp.gpkg
/Preprocessing/CaliforniaFirePerimeters
/code/data
/code/inputs
README copy.md
*.html
